/*
* CSS Run Dos Run!
* Apr 2014
*
* Author: Rubén Sospedra
*         sospedra.me
* 		  @sospedra_r
*		  hello@sospedra.me
*/

/* GLOBAL */
@font-face{ font-family: cubic; src: url(fonts/cubic/cubic.ttf); }
@font-face{ font-family: koobz; src: url(fonts/koobz/koobz.ttf); }
body { margin: 0; background-color: #0d0d0d; color: #72b844; font-family: cubic; }

/* TEXTS*/
section.banner{ text-align: center; margin-top: -20px; margin-bottom: 20px; }
section.banner h3{ font-family: koobz; font-size: 42px; margin-bottom: 0; }
section.banner span{ font-family: sans-serif; font-size: 12px; }
section.menu{
	background-color: #1a1a1a;
	width: 600px;
	margin: auto;	
	height: 45px;
	font-size: 22px;
}

/* HUD */
div.ranking{ background-image: url(../img/menuleft.png); background-position: left bottom; }
div.credits{ background-image: url(../img/menuright.png); background-position: right bottom; text-align: right; }
.button{
	padding-left: 10px; 
	padding-top: 5px;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
	height: 35px;
	width: 225px;
	cursor: pointer;
}
div.scorePlace{
	padding-top: 10px;
	position: relative;	
	float: left;	
	height: 35px;
	width: 130px;
	text-align: center;
}
span#score{
	position: absolute;
	bottom: 0;
	height: 30px;	
}

/* GAME CONTAINER */
section#gameContainer { z-index: 1; }
section#flashContainer { z-index: 999; height: 600px; }
section#controllersView { background-image: url(../img/controllers.png); height: 600px; z-index: 300; }
.flash { background-color: #8d8d8d; opacity: 0.4; }
.container{	width: 600px; position: absolute; left: 50%; margin-left: -300px; }

/* BOARDS */
section#rankingBoard { float: left; margin-left: 100px; }
section#creditsBoard { float: right; margin-right: 100px; }
.board { text-align: center; }